@model List<WebApplication2.Models.Employee>

@{
    ViewData["Title"] = "Employee Details"; 
    var errorMessage = TempData["errorMessage"]?.ToString(); 
    var successMessage = TempData["successMessage"]?.ToString();
}
<h3>@ViewData["Title"]?.ToString()</h3>

@if (!string.IsNullOrWhiteSpace(@successMessage))
    {
     <div class="alert alert-success">
    <b>Success: </b>@successMessage
    <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"> </button>
    </div>

} 
else if (!string.IsNullOrWhiteSpace(errorMessage))

{<div class="alert alert-danger">

    <b>Error: </b>@errorMessage

    <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"> </button>
</div>
    
}
<form>
    <button asp-action="Create" asp-controller="EMP" class="btn btn-primary mb-3"> Create Employee</button>
    <table class="table table-responsive table-bordered table-hover">

      <thead>
            <tr class="table-active">
              <th>Id</th>
              <th>Name</th>
              <th>DOB</th>
              <th>Email</th>
              <th>Salary</th>
              <th>Action</th
            </tr>
    </thead>

               <tbody>

                    @if (Model!= null&& Model.Any())
                    {
                        @foreach (var employee in Model)
                        {
                            <tr>
                            <td>@employee.Id</td>
                            <td>@employee.Name</td>
                         <td>@employee.DOB</td>
                            <td>@employee.Email</td>
                            <td>@employee.Salary</td>
                            <td>
                            <div class="btn-group btn-group-sm">
                            <a asp-controller="EMP" asp-action="Edit" asp-route-id="@employee.Id"
                            class="btn btn-primary">Edit</a>
                            <a asp-controller="EMP" asp-action="Delete" asp-route-id="@employee.Id"
                            class="btn btn-primary">Delete</a>
                            </div>
                            </td>
                        </tr> 
                        }
                    }

                    else
                    {
                        <tr>
                            <td colspan="6">
                                <div>
                                    no Employee avialable at this moment!
                                </div>
                            </td>
                        </tr>
                    }
              </tbody>
          </table>

</form>



